<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MeTVeDb" connectionString="Data Source=|DataDirectory|MeTVe.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" maxRequestLength="512000" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="1440" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="SqlProvider">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MeTVeDb" applicationName="MeTVe" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MeTVeDb" applicationName="MeTVe" />
      </providers>
    </roleManager>
    <profile enabled="true">
      <properties>
        <add name="DisplayName" />
      </properties>
    </profile>
    <sessionState timeout="60" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Channels.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Watch.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TVGuide.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
      <mimeMap fileExtension=".ts" mimeType="video/mp2t" />
    </staticContent>
  </system.webServer>
</configuration>
